.vscode

Backend/details/node_modules
Backend/details/.env
Backend/node_modules
Backend/login/node_modules
./laptop_dataset_updated_with_scores
Backend/updated_laptop_dataset_corrected.json
Backend/laptop_dataset_updated_with_computed_scores.json

